.scannerwork

# npm
node_modules
npm-shrinkwrap.json
test
*.log
*.gz
*.env
.env.backup
.docker-compose.ymldocker-compose.yml
*.env.backup
# Docker
docker-compose.yml
*.docker-compose.yml

# Test files
*.test.ts
jest.setup.js
jest.config.js
